<h1><p> This is what the ads look like on your local machine (If you're not running the app locally, you'll see an error.)</p></h1>
<table>
	<tr>
	<td>Leaderboard ad 728x90 :: http://localhost:3000/leads/new?partyid=4158170&leaderboard=Y</td>
	<td><iframe src="http://localhost:3000/leads/new?partyid=4158170&leaderboard=Y" width="728" height="90" scrolling="no" frameBorder="0"></iframe></td>
	</tr>
	<tr>
	<td>Search Results 300x250 :: http://localhost:3000/leads/new?partyid=4158170</td>
	<td><iframe src="http://localhost:3000/leads/new?partyid=4158170" width="300" height="250" scrolling="no" frameBorder="0"></iframe></td>
	</tr>
	<tr>
	<td>Basic Details page 240x470 :: http://localhost:3000/new?partyid=4158170&listingid=87595722</td>
	<td><iframe src="http://localhost:3000/leads/new?partyid=4158170&listingid=87595722" width="240" height="470" scrolling="no" frameBorder="0"></iframe></td>
	</tr>	
	<td>Basic Details page 580x25 :: http://localhost:3000/leads/new?partyid=4158170&detailstfn=Y</td>
	<td><iframe src="http://localhost:3000/leads/new?partyid=4158170&detailstfn=Y" width="580" height="25" scrolling="no" frameBorder="0"></iframe></td>
	</tr>	
</table>