<h1>Traffic Cop</h1>
<p><%= image_tag "traffic_cop.jpg", :title => "traffic cop", :width => 400 %></p>
<p><%= link_to "Leads", leads_path() %><p>
<p><%= link_to "Add a Party", new_party_path() %><p>
<p><%= link_to "View All Parties", parties_path() %><p>


